/build/.cmake/*
/build/CMakeFiles/*
/build/Debug/*
build/.cmake/api/v1/reply/cache-v2-f06c82585996a054debb.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b941f5b5d551e0f8d1ae.json
build/.cmake/api/v1/reply/codemodel-v2-62a0b32bdddbb2975d89.json
build/.cmake/api/v1/reply/index-2025-02-10T16-59-11-0794.json
build/.cmake/api/v1/reply/target-game_of_life-Release-7b474854cc9d74b1c63b.json
build/.cmake/api/v1/reply/target-gol_opencl-Release-685c027261853b528e2f.json
build/.cmake/api/v1/reply/target-performance_measure-Release-392524c75c33925e2f8e.json
build/.cmake/api/v1/reply/target-test_save-Release-a9394d75da357db001a9.json
build/.cmake/api/v1/reply/toolchains-v1-e719e28fe32911e094f8.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.2/CMakeCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/CompilerIdC/a.exe
build/CMakeFiles/3.31.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/game_of_life.dir/build.make
build/CMakeFiles/game_of_life.dir/cmake_clean.cmake
build/CMakeFiles/game_of_life.dir/compiler_depend.internal
build/CMakeFiles/game_of_life.dir/compiler_depend.make
build/CMakeFiles/game_of_life.dir/DependInfo.cmake
build/CMakeFiles/game_of_life.dir/flags.make
build/CMakeFiles/game_of_life.dir/includes_CXX.rsp
build/CMakeFiles/game_of_life.dir/link.txt
build/CMakeFiles/game_of_life.dir/linkLibs.rsp
build/CMakeFiles/game_of_life.dir/objects.a
build/CMakeFiles/game_of_life.dir/objects1.rsp
build/CMakeFiles/game_of_life.dir/progress.make
build/CMakeFiles/game_of_life.dir/src/CLI.cpp.obj
build/CMakeFiles/game_of_life.dir/src/CLI.cpp.obj.d
build/CMakeFiles/game_of_life.dir/src/GameOfLife.cpp.obj
build/CMakeFiles/game_of_life.dir/src/GameOfLife.cpp.obj.d
build/CMakeFiles/game_of_life.dir/src/main.cpp.obj
build/CMakeFiles/game_of_life.dir/src/main.cpp.obj.d
build/CMakeFiles/gol_opencl.dir/compiler_depend.internal
build/CMakeFiles/gol_opencl.dir/compiler_depend.make
build/CMakeFiles/gol_opencl.dir/flags.make
build/CMakeFiles/gol_opencl.dir/objects.a
build/CMakeFiles/gol_opencl.dir/src/gol_opencl.cpp.obj
build/CMakeFiles/performance_measure.dir/build.make
build/CMakeFiles/performance_measure.dir/cmake_clean.cmake
build/CMakeFiles/performance_measure.dir/compiler_depend.internal
build/CMakeFiles/performance_measure.dir/compiler_depend.make
build/CMakeFiles/performance_measure.dir/DependInfo.cmake
build/CMakeFiles/performance_measure.dir/flags.make
build/CMakeFiles/performance_measure.dir/includes_CXX.rsp
build/CMakeFiles/performance_measure.dir/link.txt
build/CMakeFiles/performance_measure.dir/linkLibs.rsp
build/CMakeFiles/performance_measure.dir/objects.a
build/CMakeFiles/performance_measure.dir/objects1.rsp
build/CMakeFiles/performance_measure.dir/progress.make
build/CMakeFiles/performance_measure.dir/src/performance_measure.cpp.obj
build/CMakeFiles/performance_measure.dir/src/performance_measure.cpp.obj.d
build/CMakeFiles/test_save.dir/build.make
build/CMakeFiles/test_save.dir/compiler_depend.internal
build/CMakeFiles/test_save.dir/compiler_depend.make
build/CMakeFiles/test_save.dir/flags.make
build/CMakeFiles/test_save.dir/includes_CXX.rsp
build/CMakeFiles/test_save.dir/linkLibs.rsp
build/CMakeFiles/test_save.dir/objects.a
build/CMakeFiles/test_save.dir/progress.make
build/CMakeFiles/test_save.dir/src/GameOfLife.cpp.obj
build/CMakeFiles/test_save.dir/src/GameOfLife.cpp.obj.d
build/CMakeFiles/test_save.dir/src/test_save.cpp.obj
build/CMakeFiles/test_save.dir/src/test_save.cpp.obj.d
